# Entorno virtual
venv/

# Archivos de Python compilados
__pycache__/
.py[cod]
.so

# Archivos temporales
.log
.tmp

# Checkpoints de Jupyter
.ipynb_checkpoints/

# Archivos de entrenamiento del modelo (pesados)
modelo_descripciones_t5/
modelo_final/
.safetensors
.pt
.bin

# Archivos de sistema
.DS_Store
Thumbs.db
